


/* font styles */

*{
    font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.05);
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    font-weight: 600;
    font-size: 1rem;
    margin: 30px;
}
.logo img{
    width: 100px;
}
ul{
    align-items: center;
}
.btn{
   width: 262px;
   height: 56px;
   flex-shrink: 0;
   border-radius: 8px;
   background: rgba(11, 2, 35 0.10);
   border: none;
   display: flex;
   align-items: center;
   justify-content: space-around;

}
.btn p{
    padding: 20px;
    font-weight: 600;
    font-size: 1rem;
}
.btn img{
    width: px;
}

.titel-home img{
    width: 30px;}
    
       

   /* button styles  */
   
   button{
    align-items: center;
    margin: 10px 15px ;
   }
   .btn-pry{
    padding: 21px 40px;
    color: #fff;
    background: #ff42a5;
    border-radius: 48px;
    border: none;

   }
   .btn-sky{
    padding: 21px 40px;
    color: #fff;
    background: #4ec5f7;
    border-radius: 48px;
    border: none;

   }
   /* bannar section */

   .gameing-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   .banner-goat-text{
    padding: 148px 244px;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%); 

   }
   .play-like{
    color: #0b0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0%;
   }
   .text-style{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    margin: 0px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
   }
   section li{
    list-style: none;
    
    margin:0%;
    color: #534c64;
    font-size: 20px;
    margin: 10px 0px;
    align-items: center;
   }
   .game-img-container{
    padding:  0px 200px;
   
    
   }

   /* banner part 2 */

   .gameing-container2{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #faf3f6;
    


   }

   .text-style2{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    margin: 0px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
   }

   .banner-goat-text2{

    padding: 148px 244px;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    text-align: right; 
    
   }
  .our-pp{
    color: #534c64;
    font-size: 24px;
    font-weight: 500;
  }
  .g-in-evry{
    color: #534c64;
    font-size: 32px;
    font-weight: 700;
  }
  .banner-goat-text2 .text-banner{
    padding: 0px 20px 0px 100px;
  }

  /* header banner finish */


  /* main banner start */


  .vid-item-containers{
    display: flex;
    padding: 100px 500px ;
    justify-content: center;
   
  }
  .head-title{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    margin: 0px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #000000 0%, #070707 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;

  }

  .style-header{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    margin: 0px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .header-vid-gm{
    padding: 120px 250px 0px 400px;
  }





  /* contants style  */

  .pri-vid{
    position: relative;
  }


  .vid-1st{

    padding: 10px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .vid-2nd{
    padding: 10px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .vid-3rd{

    padding: 10px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .vid-4th{

    padding: 10px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .mid img{
    width: 100px;

  }
  .mid{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    
    
  }
  
  
  .mid .text{
    font-size: 30px;
    background: #8758f1; 
    color:#fff;
    font-weight: 600;
  }
  .vid-1st:hover img{
    opacity: 0.3;
    
  }
  .pri-vid:hover .vid-2nd{
    opacity: 0.3;
  }
  .pri-vid:hover .vid-3rd{
    opacity: 0.3;
  }
  .pri-vid:hover .vid-4th{
    opacity: 0.3;
  }
  
  
  

  .pri-vid:hover .mid{
    opacity: 100;
  }

  











  /* main-banner part-1 */

  .games-vid-container{
    text-align: center;
  }



  .gameing-container3{

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    


   }
  .banner-goat-text3{
    padding: 148px 400px 0px 0px ;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    text-align: right;


  }
 section .no-inll{
    color: #0b0223;
    font-size: 48px;
    font-weight: 700;
    margin: 10px 0px 0px 400px ;
}
.text-style3{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    margin: 0px;
    
    background: linear-gradient(180deg,  #f948b2 0%, #8758f1 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    
   }

   .text-banner3{
    margin: 10px 0px 0px 400px ;
   }
   .game-img-container3{
    position: relative;
    padding:  80px 200px 0px 350px ;


}

.bg-img{
    display: block;
}
.overly-img{
    position: absolute;
    transform: translate(-50%, -50%);
    border: 10px solid #fff;
    border-radius: 8px;
    border: none;
}









/* icon containers styles  */


.icon-containers-lower{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.icon-containers-lower .text{
    color:#0b0223;
    font-size: 20px;
    font-weight: 600;

}

.icon-containers-upper{
    display: flex;
    justify-content: center;
   
}
.icon-containers-upper .text{
    color:#0b0223;
    font-size: 20px;
    font-weight: 600;
    
}
.icon-section-con{
    
    background: #fff5fa;
    padding: 200px;
    margin: 300px 0px 0px 0px ;
}

.icon-con{
    display: flex;
    align-items: center;
}
.icon-con img{
    width: 60px;
    height: 60px;
    padding: 30px;
}


.icon-con img{
    width: 60px;
    height: 60px;
    padding: 30px;
}
.icon-con:hover img .text{
    border-radius: 58px;
    gap: 10px;
    border: 1px solid #ff42a5;

    
}

/* icon part finish  */

/* footer part styles  */


 .logo-footer img {
    width:150px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}


.footer-container{
    background: #0b0223;
}
.footer-container ul{
    display: flex;
    padding: 10px;
    justify-content: center;
}
.footer-container li{
    padding: 10px;

    
}
.icon-social-media img{
    width: 30px;
    padding: 10px;
    

   
    
}
.icon-social-media{
    text-align: center;
}
.about-story-items li{
    color: #fff;
    list-style: none;

}




/* responsive media  */
/* mobile phones  */
@media screen and (max-width:500px) {
    
    header{
        padding: 20px;
    }
    nav, ul{
        flex-direction: column;
    }
    .gameing-container{
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }
    .vid-item-containers{
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }
    .vid-item-containers3{
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }
    .icon-containers-lower{flex-direction:
        grid-template-columns: repeat(1, 1fr); column;}
    .icon-containers-upper{flex-direction: column;
        grid-template-columns: repeat(1, 1fr);}


}

/* table divices  */
@media screen and (max-width:1200px) and (min-width:501px) {
    
    header{
        padding: 20px;
    }
    nav, ul{
        flex-direction: column;
    }
    .gameing-container{
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }
    .vid-item-containers{
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }
    .vid-item-containers3{
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }
    .icon-containers-lower{flex-direction:
        grid-template-columns: repeat(1, 1fr); column;}
    .icon-containers-upper{flex-direction: column;
        grid-template-columns: repeat(1, 1fr);}


}